/* Homepage Layout Only */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 10%;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.nav-logo {
  width: 42px;
}

.brand-name {
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: -40px;
}

/* Navigation */

.nav-links {
  display: flex;
  align-items: center;
  gap: 28px;

  list-style: none;
}

.nav-links a {
  text-decoration: none;
  font-weight: 600;
}

/* Hero */

.hero {
  min-height: 90vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  padding: 60px 20px;
}

.hero-logo {
  width: 340px;
  max-width: 90%;

  margin-bottom: 30px;
}

.hero h1 {
  font-size: 4rem;

  margin-bottom: 20px;
}

.hero p {
  max-width: 700px;

  font-size: 1.1rem;
  line-height: 1.8;

  margin-bottom: 35px;
}

/* Button */

.primary-btn {
  padding: 15px 34px;

  border: none;
  border-radius: 12px;

  font-size: 1rem;
  font-weight: 600;

  cursor: pointer;

  transition: 0.3s ease;
}

/* Sections */

.section {
  padding: 100px 10%;

  text-align: center;
}

.section h2 {
  font-size: 2.5rem;

  margin-bottom: 24px;
}

.section p {
  max-width: 700px;

  margin: auto;

  line-height: 1.8;
}

/* Footer */

footer {
  padding: 40px 20px;

  text-align: center;
}

.footer-brand {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 12px;

  margin-bottom: 18px;
}

.footer-brand img {
  width: 150px;
}


/* Responsive */

@media (max-width: 768px) {

  .navbar {
    flex-direction: column;
    gap: 20px;
  }

  .hero h1 {
    font-size: 2.7rem;
  }

  .hero-logo {
    width: 250px;
  }

  .nav-links {
    gap: 18px;
  }

}